- hosts: all
  become: true

  tasks:
    - name: install VS Code
      block:
      - name: install VS Code repo
        yum_repository:
          name: code
          description: Visual Studio Code repo
          file: vscode
          baseurl: https://packages.microsoft.com/yumrepos/vscode
          gpgkey: https://packages.microsoft.com/keys/microsoft.asc
          gpgcheck: yes

      - name: install VS Code
        dnf:
          name: code
          state: latest

    - name: install Git
      yum:
        name: git
        state: latest
